/* códigos das fontes: 
font-family: 'Dosis', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Titillium Web', sans-serif;
*/ 

body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    background: url(img/estrelas.jpg);
    width: 100%;
}
.cabecalho {
    color: rgb(255, 251, 213);;
    font-size: 45px;
    padding: 250px 0 0 175px;
    text-shadow: 5px 5px 20px yellow;
}

.txt-cabecalho {
    color: rgb(255, 251, 213);
    text-align: end;
    font-size: 20px;
    padding: 75px 125px 100px 0;
    text-shadow: 5px 5px 12px yellow;
}

/* barra de navegação */ 

.caixa-nav {
    background: rgb(255, 254, 247);
}

.indicados {
    display: inline-block;
    padding: 100px;
    font-size: 20px;
    text-shadow: 1px 1px 5px rgb(247, 242, 0);
}

.indicados:before {
    content: "★ ";
}
.indicados:after {
    content: " ★";
}

.indicados:hover {
    font-size: 22px;
}