body {
    font-family: 'Titillium Web', sans-serif;
}

header img {
    width: 80%;
    height: 550px;
}

main h1 {
    text-align: center;
    font-size: 45px;
    margin: 20px;
    text-shadow: 5px 5px 12px yellow;
}

.poster-filme {
    width: 15%;
    height: 400px;
    margin: 50px;
    box-sizing: border-box;
    border: 2px dotted #000000;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

.filmes-indicados {
    display: inline-block;
    text-align:inherit;
    font-weight: bold;
    font-size: 26px;
    margin: 20px;
    
}